@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/LexendDeca-Regular.ttf);
}

a {
  text-decoration: none;
}

img {
  max-width: 120px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202940;
  font-family: "Lexend Deca", sans-serif;
  color: white;
  margin: 0px 5%;
  min-height: 100%;
  min-width: 600px;
  cursor: default;
  touch-action: manipulation;
}

header {
  display: flex;
  padding: 30px 0;
}

.logo_img {
  height: 18px;
}

.logo {
  font-family: "Lexend Deca", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-left: 5px;
}

.button {
  font-family: "Lexend Deca";
  color: white;
  border-radius: 50%;
  background-color: #202940;
  border-color: white;
  border-width: 3px;
  cursor: pointer;
}

.start_button {
  height: 250px;
  width: 250px;
  font-size: 90px;
}

.start_button:hover {
  border-color: #9922fb;
}

.start_time {
  font-size: 110px;
}

.speed_button {
  font-size: 20px;
  height: 100px;
  width: 100px;
  border-width: 2px;
}

.speed_button:hover {
  border-color: #9922fb;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 60px;
}

main a {
  font-size: 30px;
  color: #9922fb;
  cursor: pointer;
}

main a:hover {
  color: #6418d9;
}

.sub_text {
  font-size: 32px;
  padding: 10px 0 10px 0;
}

footer {
  margin: 10px 0 30px 0;
  font-size: 20px;
  text-align: right;
}

footer a {
  color: white;
  cursor: pointer;
  text-align: right;
}

footer a:hover {
  color: #9922fb;
}

.best_result {
  display: flex;
}

.best_result img {
  height: 25px;
  padding: 0 10px 0 10px;
}

.trash:hover {
  opacity: 0.6;
}

.tooltip {
  display: none;
  font-size: 14px;
}

.absolute {
  position: absolute;
}

.count_click {
  width: 100%;
  align-self: flex-end;
  text-align: left;
  font-size: 20px;
}

[class^="miss"] {
  position: absolute;
  font-size: 20px;
  -webkit-animation: smooth 1s;
  -moz-animation: smooth 1s;
  -o-animation: smooth 1s;
  -ms-animation: smooth 1s;
  animation: smooth 1s;
}
@-webkit-keyframes smooth {
  0% {
    opacity: 0.77;
  }
  100% {
    opacity: 0;
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-device-width: 500px) {
  img {
    max-width: 300px;
  }

  .logo {
    text-align: center;
    font-size: 80px;
  }

  .logo_img {
    height: 40px;
  }

  main {
    font-size: 90px;
  }

  .sub_text {
    font-size: 48px;
    padding: 30px 0 90px 0;
  }

  main a {
    font-size: 65px;
  }

  footer {
    font-size: 40px;
    text-align: right;
  }

  .speed_button {
    font-size: 40px;
    height: 200px;
    width: 200px;
    border-width: 2px;
  }

  .start_button {
    height: 400px;
    width: 400px;
    font-size: 140px;
  }

  .start_time {
    font-size: 140px;
  }

  .count_click {
    font-size: 40px;
  }

  [class^="miss"] {
    font-size: 60px;
  }


  .best_result img {
    height: 50px;
    padding: 0 10px 0 10px;
  }
  
  .tooltip {
    font-size: 32px;
  }
}
